<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>31051.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{126,166}</string>
        <key>spriteSourceSize</key>
        <string>{126,166}</string>
        <key>textureRect</key>
        <string>{{0,0},{126,166}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>32051.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{126,166}</string>
        <key>spriteSourceSize</key>
        <string>{126,166}</string>
        <key>textureRect</key>
        <string>{{0,166},{126,166}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>33051.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{126,166}</string>
        <key>spriteSourceSize</key>
        <string>{126,166}</string>
        <key>textureRect</key>
        <string>{{0,332},{126,166}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>34051.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{126,166}</string>
        <key>spriteSourceSize</key>
        <string>{126,166}</string>
        <key>textureRect</key>
        <string>{{126,0},{126,166}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>35051.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{126,166}</string>
        <key>spriteSourceSize</key>
        <string>{126,166}</string>
        <key>textureRect</key>
        <string>{{252,0},{126,166}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>38051.png</key>
      <dict>
        <key>aliases</key>
        <array/>
        <key>spriteOffset</key>
        <string>{-1,0}</string>
        <key>spriteSize</key>
        <string>{126,166}</string>
        <key>spriteSourceSize</key>
        <string>{126,166}</string>
        <key>textureRect</key>
        <string>{{378,0},{126,166}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>51_en.png</string>
      <key>size</key>
      <string>{504,498}</string>
      <key>textureFileName</key>
      <string>51_en.png</string>
    </dict>
  </dict>
</plist>
